
<div class="home-container">
  <mat-card>
    <mat-card-title>Benvenuto in Finanze Personali</mat-card-title>
    <mat-card-content>
      <p>Gestisci le tue finanze con facilità e ottieni report dettagliati.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/dashboard">Vai alla Dashboard</button>
      <button mat-button routerLink="/informazioni">Altre Informazioni</button>
    </mat-card-actions>
  </mat-card>
</div>


<div class="informazioni-container">
  <mat-card>
    <mat-card-title>Informazioni sul Progetto</mat-card-title>
    <mat-card-content>
      <p>Questo progetto è stato sviluppato per aiutarti a gestire le tue finanze, tracciare transazioni e ottenere report dettagliati.</p>
    </mat-card-content>
  </mat-card>
</div>
